/* Responsive by Sugi */
/* Untuk Tablet */
@media all and (max-width: 1000px) {
    
    .main h1 {
        padding:0 100px;
    }
    
    
    h1{
        padding:0;
        line-height: 30px;
    }
    
    .heading P {
        margin-top: 30px;
        padding: 0 30px;
        font-size: 17px;
        line-height: 24px;
    }
    
   .lesson-wrapper {
        height: 1600px;
    }
    
    .lesson {
    width: 50%;
    margin-bottom: 20px;
  }

  
  .heading  {
      padding: 40px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    
     .main h1 {
        padding:0 10px;
    }
    
    
    .header{
        padding: 0 20px;
    }
    
    .main h1 {
        padding-top: 70px;
        font-size:37px;
        line-height: 45px;
    }
    
    .main p {
        font-size: 25px;
    }
    
    .lesson-wrapper {
        height: 2100px;
        margin-top: 50px;
    }
    
    .lesson {
        width: 100%;
    }
    
    .txt-contents {
        width: 80%;
    }
    
    h1{
        font-size:24px;
    }
  
    #footer {
        text-align: center;
    }
    
    #footer P {
        font-weight:200;
    }
    
     #k {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
  
    .btn {
        width: 80%; 
    }
  
    .header-right {
        display:none
    }
 
    .menu-icon {
        display:block;
        color: black;
        font-size: 45px;
    }
  


/* End Responsive */
